---
icon: octagon-check
description: >-
  Verification is handled by a trusted Manager within the Ofero Network,
  ensuring authenticity and enabling you to fully access the platform's features
  and services.
---

# Account Verification

#### Why Verify Your Account?

Verification on Ofero.me unlocks valuable benefits:

* **Access Advanced Features:** Some services and partner offerings are exclusive to verified users.
* **Trustworthy Profile:** Gain a green checkmark that signifies you as a verified user.
* **Increased Opportunities:** Join the trusted community and enjoy enhanced functionality across the network.

***

#### How to Verify Your Account

1. **Find a Manager:**
   * Account verification can only be performed by a Manager within the Ofero Network.
   * If you know a verified Manager, reach out to them directly for assistance.
2. **Reach Out on Telegram:**
   * If you do not know any Managers, join the Ofero Network Telegram channel: [@oferonetwork](https://t.me/oferonetwork).
   * Introduce yourself and request verification from a Manager available in the group.
3. **Provide Your Details:**
   * Be ready to share your Ofero.me username and any additional information the Manager might request for verification (Showing the manager an ID is necessary).
4. **Wait for Confirmation:**
   * Once verified, your profile will display a green checkmark, confirming your status.

{% hint style="info" %}
Verification is optional, but it provides access to advanced features and services exclusive to verified users.
{% endhint %}
